/* GLOBAL STYLES */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  vertical-align: baseline;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/*1st Phase*/

.enter {
  color: greenyellow;
  font-size: 5vh;
  font-family: Consolas,monaco,monospace;
}

.enterhint {
  color: transparent;
  font-size: 5vh;
  font-family: Consolas,monaco,monospace;
}

.code {
  width: 100%;
  border-color: transparent;
  background-color: transparent;
  color: #adff2f;
  font-size: 5vh;
  font-family: Consolas,monaco,monospace;
}

input[type="password"],input[type="password"]:focus {
  background: transparent;
  border: none;
  outline-width: 0;
}

/*2nd Phase - Valley*/

#valleymain {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;  
  background: linear-gradient(180deg,rgba(7, 26, 54, 1) 0%, rgba(55, 140, 103, 1) 32%, rgba(52, 69, 141, 1) 67%);
}

#mountain-shd {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: overlay;
  z-index: 0;
  filter: brightness(100%) sepia(42%) hue-rotate(176deg) saturate(847%);
  image-rendering: pixelated;
  object-fit: contain;
}

#mountain-img {
  min-width: 100%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
}

#mountain-lod3 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: -3;
}

#mountain-lod2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: -2;
}

#stars {
  position: absolute;
  content: '';
  z-index: -10;
  width: 100%;
  height: 70vh;
  background-size: 160vh;
  background-image: url(img/stars.png);
  background-repeat: repeat-x;
  animation: glowLoop 1s linear;
  animation-iteration-count: infinite;
  image-rendering: pixelated;
}

#tree-fog {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

#tree-fog-img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  object-fit: contain;
}

.tree {
  z-index: -1;
}

.fog {
  position: fixed;
  z-index: 0;
}

#clouds {
  position: absolute;
  content: '';
  z-index: 1;
  width: 100%;
  height: 162vh;
  background-size: 130vh;
  top: -110vh;
  background-image: url(img/clouds.png);
  background-repeat: repeat-x;
  animation: cloudLoop 60s linear;
  animation-iteration-count: infinite;
  image-rendering: pixelated;
}

#moon {
  position: absolute;
  content: '';
  z-index: 0;
  width: 100%;
  height: 162vh;
  background-size: 20vh;
  top: 10vh;
  left: 80vw;
  background-image: url(img/moon.png);
  background-repeat: no-repeat;
  animation: glowLoop 5s linear;
  animation-iteration-count: infinite;
}

#cliff {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

#cliff-img {
  max-width: 40%;
  min-width: 40%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  filter: brightness(80%) sepia(20%) hue-rotate(176deg) saturate(200%);
}

#avatars {
  position: absolute;
  content: '';
  z-index: 0;
  width: 100%;
  height: 100%;
}

#dialogE {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 2;
  image-rendering: pixelated;
  animation: dialogEnter 0.2s ease-in;
  opacity: 0;
}

#dialogS {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 3;
  image-rendering: pixelated;
  animation: dialogEnter 0.2s ease-in;
}

#dialog-img {
  max-width: 50%;
  min-width: 50%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
}
/* animations */

@keyframes fadeInColor {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes cloudLoop {
  from {
    background-position-x: 0vh;
  }
  to {
    background-position-x: -130vh;
  }
}

@keyframes glowLoop {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes dialogEnter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*media queries*/

@media only screen and (min-width: 1920px) {
  
}

/*FONTS*/
@font-face {
  font-family: Stardew Valley;
  src: url(./font/StardewValley.woff2) format('woff2');
  font-style: normal;
}
