/* GLOBAL STYLES */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow: auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  vertical-align: baseline;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/*1st Phase*/

.enter {
  color: greenyellow;
  font-size: 5vh;
  font-family: Consolas,monaco,monospace;
}

.enterhint {
  color: transparent;
  font-size: 5vh;
  font-family: Consolas,monaco,monospace;
}

.code {
  width: 100%;
  border-color: transparent;
  background-color: transparent;
  color: #adff2f;
  font-size: 5vh;
  font-family: Consolas,monaco,monospace;
}

input[type="password"],input[type="password"]:focus {
  background: transparent;
  border: none;
  outline-width: 0;
}

/*2nd Phase - Valley*/
#secret {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 1vh 2vh;
  font-size: 3vh;
  font-family: 'Stardew Valley', monospace;
  color: #4d0206;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0%;
}

.valleymain {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;  
  background: linear-gradient(180deg,rgba(7, 26, 54, 1) 0%, rgba(55, 140, 103, 1) 32%, rgba(52, 69, 141, 1) 67%);
  overflow: hidden;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.valleymain-sunset {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;  
  background: linear-gradient(180deg,rgba(0, 106, 148, 1) 1%, rgba(117, 127, 150, 1) 6%, rgba(245, 101, 12, 1) 38%, rgba(255, 232, 25, 1) 55%);
  overflow: hidden;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.valleymain-daytime {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;  
  background: linear-gradient(180deg,rgba(132, 164, 240, 1) 0%, rgba(185, 251, 255, 1) 61%, rgba(255, 255, 255, 1) 100%);
  overflow: hidden;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.mountain-shd {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: overlay;
  z-index: 0;
  filter: brightness(100%) sepia(42%) hue-rotate(176deg) saturate(847%);
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.mountain-shd-sunset {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: overlay;
  z-index: 0;
  filter: brightness(100%) sepia(60%) hue-rotate(28deg) saturate(847%);
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.mountain-shd-daytime {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: overlay;
  z-index: 0;
  filter: brightness(100%) sepia(125%) hue-rotate(35deg) saturate(847%) contrast(1.2);;
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

#mountain-img {
  min-width: 100%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

#ocean-img {
  min-width: 100%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

#mountain-lod1 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 1;
}

#mountain-lod2 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 2;
}

#mountain-lod3 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 0;
}

.mountain-lod0 {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: -1;
  filter: brightness(60%) sepia(10%) hue-rotate(14deg) saturate(410%) contrast(4.5);
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.mountain-lod0-daytime {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: -1;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.stars {
  position: absolute;
  content: '';
  z-index: -10;
  width: 100%;
  height: 70vh;
  background-size: 160vh;
  background-image: url(img/stars.png);
  animation: glowLoop 1s linear;
  animation-iteration-count: infinite;
  image-rendering: pixelated;
}

.stars-sunset {
  position: absolute;
  content: '';
  z-index: -10;
  width: 100%;
  height: 70vh;
  background-size: 160vh;
  background-image: url(img/stars.png);
  animation: glowLoop 1s linear;
  animation-iteration-count: infinite;
  image-rendering: pixelated;
  opacity: 50%;
}

.stars-daytime {
  display: none;
}

#tree-fog {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: -10%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: 3;
}

#tree-fog-img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.tree {
  z-index: 3;
}

.fog {
  position: fixed;
  opacity: 60%;
  z-index: 4;
}

#clouds {
  position: absolute;
  content: '';
  z-index: 1;
  width: 100%;
  height: 162vh;
  background-size: 130vh;
  top: -110vh;
  background-image: url(img/clouds.png);
  background-repeat: repeat-x;
  animation: cloudLoop 60s linear;
  animation-iteration-count: infinite;
  image-rendering: pixelated;
}

.moon {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  top: 20%;
  right: 14%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.sunset {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  top: 40%;
  right: 13%;
  z-index: -2;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.daytime {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  top: 20%;
  right: 14%;
  z-index: -2;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.moon-img {
  max-width: 10%;
  min-width: 10%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  animation: glowLoop 5s linear;
  animation-iteration-count: infinite;
}

.sun-img {
  max-width: 10%;
  min-width: 10%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
}

#cliff {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: 4;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.cliff-img {
  max-width: 40%;
  min-width: 40%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  filter: brightness(80%) sepia(20%) hue-rotate(176deg) saturate(200%);
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.cliff-img-sunset {
  max-width: 40%;
  min-width: 40%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.cliff-img-daytime {
  max-width: 40%;
  min-width: 40%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  filter: brightness(140%) sepia(0%) hue-rotate(0deg) saturate(87%) contrast(1.2);
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

#avatars {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 20%;
  left: -1%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  z-index: 8;
  mix-blend-mode: hard-light;
}

#avatar-img {
  max-width: 5%;
  min-width: 5%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
}

#dialogE {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 10;
  image-rendering: pixelated;
  opacity: 0;
}

#dialogS {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  bottom: 0;
  z-index: 10;
  image-rendering: pixelated;
  opacity: 0;
}

#dialog-img {
  max-width: 50%;
  min-width: 50%;
  height: auto;
  image-rendering: pixelated;
  object-fit: contain;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.d-text {
  position: absolute;
  color: #4d0206;
  font-family: 'Stardew Valley', monospace;
  font-size: 2vw;
  text-align: left;
  width: 50%;
  top: 0;
  padding: 2%;
  padding-right: 22%;
}

/* animations */

@keyframes fadeInColor {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes cloudLoop {
  from {
    background-position-x: 0vh;
  }
  to {
    background-position-x: -130vh;
  }
}

@keyframes glowLoop {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes dialogEnter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes dialogExit {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/*media queries*/

@media only screen and (min-width: 1920px) {
  
}

/*FONTS*/
@font-face {
  font-family: Stardew Valley;
  src: url(./font/StardewValley.woff2) format('woff2');
  font-style: normal;
}
